/* 책 상세 페이지 */
.book_detail_layout {
    padding: 20px 20px 0;
}
.book_detail_layout1 {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 10px;
    padding: 0 20px;
}
.book_detail_div1{
	width: 200px;
	height: 300px;
}
.book_detail_div2 p {
	display: inline-block;
}
.book_detail_img {
	width: 100%;
	height: 100%;
}
.book_datail_title_txt {
	font-size: 18px;
	font-weight: bold;
}
.book_datail_cate_txt{
	font-size: 11px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
}
.book_datail_author_txt {
	font-size: 13px;
	font-weight: bold;
	color: #000;
}

/* 버튼부분 */
.book_detail_zzim, .book_detail_zzim1 {
	width: 120px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	color:#fff;
	border-radius: 5px;
	cursor:pointer;
	font-size: 14px;
	font-weight: bold;
}
.book_detail_zzim {
	border:2px solid #a5a2a2;
	background-color: #ccc;
}
.book_detail_zzim1 {
	border:2px solid #408e21;
	background-color: #4dac27;

}

/* 미디어쿼리 */
@media screen and (max-width: 749.99px) {
	.book_detail_div1, .book_detail_div2 {
		padding: 10px;
		float: none;
		display: block;
	}
	.book_detail_div2{
		width: 100%;
	}
}

@media screen and (min-width: 750px) {
	.book_detail_div1, .book_detail_div2 {
		padding: 10px;
		float: left;
	}
	.book_detail_div2{
		width: 70%;
		height: 300px;
	}
	.book_detail_layout1 {
		height: 340px;
	}
}

/* 모달부분 */
.modal {
    display: none;
}
.modal-content {
	margin: 5px;
	padding: 5px;
	border: 1px solid #ccc;
    border-radius: 5px;
	height: 80px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#detailStartDate, #detailEndDate{
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
}
#detailStartDate:focus, #detailEndDate:focus {
	outline: none;
}
.modal-content_txt {
	font-size: 13px;
}
.modal-content-submit {
	width: 45px;
	height: 25px;
	text-align: center;
	text-decoration: none;
	color:#fff;
	border-radius: 5px;
	cursor:pointer;
	font-size: 13px;
	font-weight: bold;
	border:2px solid #408e21;
	background-color: #4dac27;
}
.book_datail_form1, .book_datail_form2 {
	display: inline;
}
.book_datail_form1 {
	margin-right: 10px;
}
.modal-content-submit {
	float: right;
}
@media screen and (max-width: 549.99px) {
	.modal-content {
		width: 100%;
	}
}
@media screen and (min-width: 550px) {
	.modal-content {
		width: 330px;
	}
	.modal-content-br {
		display: none;
	}
	.modal-content-submit {
		margin-top:20px;
	}
}










/* 호철 연관 도서 추천 영역 */
.book_detail_box1 {
	width: 100%;
	/* height: 30vh; */
	position: relative;
	padding: 20px 20px;
}
.book_detail_title {
	height: 10px;
	margin-top: 10px;
	margin-bottom: 30px;
}
.book_detail_title strong {
	font-size: 20px;
	font-weight: 700;
	margin: 0px 0px 0px 10px;
}
.book_detail_title p {
	display: inline-block;
	font-size: 0.7rem;
	color: #9d9d9d;
	margin-left: 10px;
}
.book_detail_slide_container {
	background-color: white;
	transition: all 1s;
	white-space:nowrap;
	overflow: scroll;
	width: 100%;
	margin-top: 20px;
	border: 1px solid #ccc;
    border-radius: 10px;
	padding-left: 10px;
}
.book_detail_slide_container::-webkit-scrollbar {
	display: none;
} 

.book_detail_slide-box {
	display: inline-block;
	width: 170px;
	margin-left: 30px;
	margin-bottom: 20px;
}
.book_detail_slide-box img {
	width: 150px;
    height: 200px;
    padding: 20px 0px;
}
.book_detail_slide-box p {
	width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto;
}





/* 호철 댓글부분 css 만듬 */
.book_detail_comment_layout {
	padding: 20px 20px;
    margin-bottom: 30px;
}
.book_detail_comment_section-box {
	width: 100%;
	border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
}
.book_detail_comment_section-1 {
	display: flex;
    justify-content: space-between;
    width: 100%;
	padding: 20px 20px 0px;
}
.book_detail_comment_section-1 strong {
	font-size: 20px;
}
.book_detail_comment_grid {
	width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: minmax(200px, auto);
    padding: 20px 20px;
	gap: 10px;
}
.book_detail_comment_grid-item {
	width: 100%;
    background-color: #ccc;
	color: white;
}




/*  모달  */
.book_detail_comment_modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
}

.book_detail_comment_modal.show {
	display: block;
}

.book_detail_comment_modal_body {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 32rem;
	height: 20rem;
	background-color: rgb(255, 255, 255);
	border-radius: 1.2rem;
	text-align: center;
	transform: translateX(-50%) translateY(-50%);
}
.book_detail_comment_modal_form{
	padding: 20px 20px;
	width: 100%;
	/* height: 100%; */
	text-align: center;
}
.book_detail_comment_modal_header{
	margin-top: 20px;
}
.book_detail_comment_modal_footer{
	display: flex;
    justify-content: space-around;
    margin: 20px 10px;
	padding: 0px 20px;
}
.book_detail_comment_modal_header textarea {
	resize: none;
	height: 30px;
    width: 400px;
}
.book_detail_comment_modal_content textarea {
	resize: none;
	height: 150px;
    width: 400px;
}
.book_detail_comment_close_modal_btn {
	width: 100px;
    height: 25px;
    border-radius: 5px;
    line-height: 25px;
	background-color: rgba(209, 213, 218, 1);
	color: #ffffff;
	border: none;
	cursor: pointer;
}
.book_detail_comment_complete_modal_btn {
	width: 100px;
    height: 25px;
    border-radius: 5px;
    line-height: 25px;
	background-color: rgba(126, 189, 108, 1);
	color: #ffffff;
	border: none;
	cursor: pointer;
	
}

@media only screen and (max-width: 768px) {
	.book_detail_comment_modal_body {
		width: 20rem;
	}
	.book_detail_comment_modal_header textarea {
		resize: none;
		height: 30px;
		width: 100%;
	}
	.book_detail_comment_modal_content textarea {
		resize: none;
		height: 150px;
		width: 100%;
	}
}