/* 책 상세 페이지 */
.book_detail_layout {
    padding: 20px 20px 0;
}
.book_detail_layout1 {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
    padding: 0 20px;
}
.book_detail_div1{
	height: 300px;
}
.book_detail_div1{
	width: 200px;
}
.book_detail_div2 p {
	display: inline-block;
}
.book_detail_img {
	width: 100%;
	height: 100%;
}
.book_datail_title_txt {
	font-size: 18px;
	font-weight: bold;
}
.book_datail_cate_txt{
	font-size: 13px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
}
.book_datail_author_txt{
	font-size: 13px;
	font-weight: bold;
	color: #000;
}
/* 미디어쿼리 */
@media screen and (max-width: 749.99px) {
	.book_detail_div1, .book_detail_div2 {
		padding: 10px;
		float: none;
		display: block;
	}
	.book_detail_div2{
		width: 100%;
	}
}

@media screen and (min-width: 750px) {
	.book_detail_div1, .book_detail_div2 {
		padding: 10px;
		float: left;
	}
	.book_detail_div2{
		width: 70%;
		height: 300px;
	}
	.book_detail_layout1 {
		height: 340px;
	}
}
/* .book_detail_container {
    padding: 0 20px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
	grid-template-rows: auto;
}

.book_detail_item {
	width: 100%;
	height: 100%;
	border:1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
}

.book_detail_img {
	padding: 1%;
	width: 25%;
	height: 100%;
} */

.modal {
    display: none;
}
.modal-content {
	border: 1px solid #ccc;
	height: 80px;
}

.book_datail_form1, .book_datail_form2 {
	display: inline;
}
.book_datail_form1 {
	margin-right: 10px;
}
@media screen and (max-width: 549.99px) {
	.modal-content {
		width: 100%;
	}
	.modal-content-submit {
		float: none;
	}
}
@media screen and (min-width: 550px) {
	.modal-content {
		width: 330px;
	}
	.modal-content-br {
		display: none;
	}
	.modal-content-submit {
		float: right;
	}
}