/* common */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	list-style: none;
	text-decoration: none;
}
.body {
	background-color: black;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	/* font-family: 맑은 고딕,Malgun Gothic,돋움,Dotum,sans-serif; */
}

/* sidebar */
.sidebar {
	height: 100vh;
	background-color: #000000;
	position: fixed;
	overflow: none;
	flex-shrink: 0;
}

/* 로고 영역 */
.sidebar_logo {
	display: block;
	color: white;
	padding: 1.25rem 1rem;
	border-bottom: 1px solid hsla(0,0%,100%,.1);
	text-align: center;
}
.sidebar_logo * {
	vertical-align: middle;
}
.logo_bookpick {
	font-weight: 600;
	font-size: 25px;
}

/* 로그인 영역 */
.sidebar_signin_area {
	font-size: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0.3rem 1rem;
	border-bottom: 1px solid hsla(0,0%,100%,.1);
}
.sidebar_submenu {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 90%;
}
.sidebar_submenu::-webkit-scrollbar {
	width: 8px;
}
.sidebar_submenu::-webkit-scrollbar-thumb {
	  background: hsla(0,0%,53.7%,.6); /* 스크롤바 색상 */
	  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
.login_txt {
	color: #cdcdcd;
	margin: 10px 0 10px 0;
}

/* 그라데이션 영역 */
.header_member {
	margin: 0 auto;
}
.sidebar_button_area {
	display: block;
	cursor: pointer;
	width: 85%;
	height: 2.8rem;
	border-radius: 0.3rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 1rem 1rem;
	background: linear-gradient( to left, #7F00FB, #FD0B31 );
}
.member_icon {
	width: 1.3rem;
}
.member_text {
	font-weight: 800;
	margin: 0 5px;
}

/* 검색 영역 */
.sidebar_search {
	margin: 0 auto;
	padding: 0.7rem 1rem;
	display: flex;
	flex-direction: initial;
	justify-content: center;
	align-items: center;
	position: relative;
}
.search_input {
	width: 100%;
	height: 2.8rem;
	box-sizing: border-box;
    background-color: #1a1a1a;
	padding-left: 50px;
	border-radius: 5px;
	border: none;
	text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
	font-size: 1.1rem;
}

.icon_search {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 23px;
    left: 30px;
	background-size: 1.3rem 1.3rem;
	background-repeat: no-repeat;
	opacity: 50%;
	background-image:url("../img/category1-Search.png");
}

.search_input:focus + .icon_search {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 23px;
    left: 30px;
	background-size: 1.3rem 1.3rem;
	background-repeat: no-repeat;
	opacity:100%;
	background-image:url("../img/category1-Search.png");
}

/* 리스트 영역 */
.sidebar_menu {
	margin: 0 auto;
	width: 80%;
	font-size: 1.0rem;
}
.sidebar_menu li > a {
	padding: 0.6rem 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.sidebar_menu li > a > span {
	margin-left: 0.5rem;
	color: rgba(255, 255, 255, 0.8);
}
.sidebar-link:hover span {
	color: #ffffff;
}
.sidebar_menu img {
	width: 23px;
	height: 23px;
}
.sidebar-link.active span {
	color:#FF0050;
} /* .active 클래스가 함께 존재하는 경우에는 빨간색 표시 */




/* 미디어 쿼리 */
@media only screen and (max-width: 767px) {
	.sidebar {
		display: none;
		/* width: 225px; */
	}
}

@media only screen and (min-width: 768px) and (max-width: 1279px)  {
	.sidebar {
		width: 225px;
	}
}

@media only screen and (min-width: 1280px) {
	.sidebar {
		width: 245px;
	}
}