.home-container {
	margin: 50px auto 0px auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/* 홈 광고 배너 부분 */
.home-main {
	width: 100%;
	height: 100%;
}
.home-baaner {
	/* background-color: white; */
	width: 100%;
	height: 100%;
	display: flex;
	transition: transform 0.5s;
}
.Hbaaner {
	width: 100%;
	height: 100%;
	padding: 0px 20px;
}

/* .Hbaaner1 {
	width: 1260px;
	height: 100%;
	border: 1px solid #000;
	border-radius: 30px;
} */
.home-box1 {
	width: 100%;
	height: 30vh;
	text-align: center;
	position: relative;
	padding: 20px 20px;
}
.home-box2 {
	width: 100%;
	height: 100%;
    padding: 20px 20px;
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.home-box3 {
	width: 100%;
	height: 30vh;
	padding: 20px 20px;
	text-align: center;
	margin-bottom: 50px;
}
.home-main {
	position: relative;
}
.home-box {
	position: absolute;
	top: 93%;
	width: 100%;
	display: flex;
	justify-content: center;
	transform: translateY(-50%);
}

.home-box div {
	background-color: #ddd;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	margin: 0 4px;
	cursor: pointer;
}

.home-box div.active {
	background-color: #555;
}

/* 반응형 */
@media screen and (max-width: 540px) {
    .home-box {
        top: 85%;
    }
}
/*  메인 베스트 셀러영역 */
.slide-container1 {
	background-color: white;
    width: 75%;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
}
.slide-container1-2 {
	background-color: white;
	width: 20%;
	margin-top: 20px;
	border: 1px solid #ccc;
    border-radius: 20px;
	display: flex;
}
.slide-container {
	background-color: white;
	transition: all 1s;
	white-space:nowrap;
	overflow: scroll;
	width: 100%;
	margin-top: 20px;
	border: 1px solid #ccc;
    border-radius: 20px;
}
.slide-container::-webkit-scrollbar {
	display: none;
} 
.slide-box {
	display: inline-block;
	height: 100%;
	width: 170px;
	margin: 0px 10px;
}
.slide-box img {
	width: 150px;
    height: 200px;
    padding: 20px 0px;
}
.slide-box p {
	width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto;
} 

.next {
	cursor: pointer;
	position: relative;
	bottom: 65%;
	left: 40%;
}
.prev {
	cursor: pointer;
	position: relative;
	bottom: 65%;
	right: 40%;
}

@media screen and (min-width: 960px) {
    .next {
        display: none;
    }
	.prev {
        display: none;
    }
}
