.home-container {
	margin: 50px auto 0px auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/* 홈 광고 배너 부분 */
.home-main {
	width: 100%;
	height: 100%;
}

.home.slide-area {
	width: 1320px;
}


@media screen and (max-width: 1920px) {
	.home-container {
		width: 1300px;
	}
	#slide {
		transition: scroll 10s ease-in-out;
	}
	#slide2 {
		transition: scroll 30s ease-in-out;
	}
	#slide3 {
		transition: scroll 30s ease-in-out;
	}
}

@media only screen and (max-width: 767.99px) {
	.home-container {
		width: 100%;
		margin: 0 auto;
	}
	
	#slide {
		transition: scroll 30s ease-in-out;
	}
	#slide2 {
		transition: scroll 30s ease-in-out;
	}
	#slide3 {
		transition: scroll 30s ease-in-out;
	}


}

@media only screen and (min-width: 768px) and (max-width: 1021.99px) {
	.home-container {
		width: 100%;
		margin: 0 auto;
	}

	.home-box2 {
		width: 100%;
	}
	
	#slide {
		transition: scroll 30s ease-in-out;
	}
	#slide2 {
		transition: scroll 30s ease-in-out;
	}
	#slide3 {
		transition: scroll 30s ease-in-out;
	}
}

@media only screen and (min-width: 1022px) and (max-width: 1920px){
	.home-container {
		width: 100%;
		margin: 0 auto;
	}
	#slide {
		transition: scroll 30s ease-in-out;
	}
	#slide2 {
		transition: scroll 30s ease-in-out;
	}
	#slide3 {
		transition: scroll 30s ease-in-out;
	}
}

@media only screen and (max-width: 1320px) {
    .home-box2 {
		width: 100%;
		flex-direction: column;
	}
	#slide3 {
		width: 100%;
	}
	#slide1 {
		width: 100%;
	}
}



.home-baaner {
	/* background-color: white; */
	width: 100%;
	height: 100%;
	display: flex;
	transition: transform 0.5s;
}
.Hbaaner {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

/* .Hbaaner1 {
	width: 1260px;
	height: 100%;
	border: 1px solid #000;
	border-radius: 30px;
} */
.home-box1 {
	width: 100%;
	/* height: 30vh; */
	position: relative;
	padding: 20px 20px;
}
.home-box2 {
	width: 100%;
    padding: 0px 20px;
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-between;
}
.home-box3 {
	width: 100%;
	/* height: 30vh; */
	padding: 10px 20px;
	/* margin-bottom: 50px; */
}
.home-main {
	position: relative;
}
.home-box {
	position: absolute;
	top: 93%;
	width: 100%;
	display: flex;
	justify-content: center;
	transform: translateY(-50%);
}

.home-box div {
	background-color: #ddd;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	margin: 0 4px;
	cursor: pointer;
}

.home-box div.active {
	background-color: #555;
}

/*  메인 베스트 셀러영역 */
.slide-container2 {
	background-color: white;
    width: 67%;
    margin-top: 20px;
	white-space:nowrap;
	overflow: scroll;
    border: 1px solid #ccc;
    border-radius: 10px;
	padding-left: 10px;
}
.slide-container2-2 {
	background-color: white;
    width: 30%;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.slide-container {
	background-color: white;
	transition: all 1s;
	white-space:nowrap;
	overflow: scroll;
	width: 100%;
	margin-top: 20px;
	border: 1px solid #ccc;
    border-radius: 10px;
	padding-left: 10px;
}
.slide-container::-webkit-scrollbar {
	display: none;
} 
.slide-container2::-webkit-scrollbar {
	display: none;
} 
.slide-box {
	display: inline-block;
	width: 170px;
	margin-left: 30px;
	margin-bottom: 20px;
}
.slide-box img {
	width: 150px;
    height: 200px;
    padding: 20px 0px;
}
.slide-box p {
	width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto;
}
.home-title {
	height: 10px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.home-title strong {
	font-size: 20px;
	font-weight: 700;
	margin: 0px 0px 0px 10px;
}
.home-title p {
	display: inline-block;
	font-size: 0.7rem;
	color: #9d9d9d;
	margin-left: 10px;
}
.home-recommend {
	padding: 0px 30px;
    font-size: 20px;
}
.bookworm {
	padding: 11px 20px;
    text-align: left;
}
.bookworm strong{
	font-size: 20px;
}
.bookworm p {
	font-size: 0.7rem;
    color: #9d9d9d;
	margin-top: 5px;
}
.home-booking {
	font-size: 15px;
    padding: 9px 20px;
    text-align: left;
	width: 340px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/****** 둘러보기 ****** */
section {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 40px;
}

.tour-baaner {
	width: 100%;
	display: flex;
	transition: transform 0.5s;
}

.Tbaaner {
	width: 100%;
}

.tour-box1 {
	width: 100%;
	position: relative;
	padding: 20px 20px;
}

.tour-title {
	height: 10px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.tour-slide-container {
	background-color: white;
	transition: all 1s;
	white-space:nowrap;
	overflow: scroll;
	width: 100%;
	margin-top: 20px;
	border: 1px solid #ccc;
    border-radius: 10px;
	padding-left: 10px;
}

.tour-slide-container::-webkit-scrollbar {
	display: none;
} 

.tour-slide-box {
	display: inline-block;
	width: 170px;
	margin-left: 30px;
	margin-bottom: 20px;
}

.tour-slide-box img {
	width: 150px;
    height: 200px;
    padding: 20px 0px;
}

.tour-title strong {
	font-size: 1.1rem;
	font-weight: 700;
	margin: 0px 0px 0px 10px;
}

.tour-title p {
	display: inline-block;
	font-size: 0.7rem;
	color: #9d9d9d;
	margin-left: 10px;
}

.tour-img-text img {
	width: 100%;
	height: 660px;
}

.tour-text-area-1 {
	position: absolute;
	top: 30%;
    left: 30%;
	transform: translate(-50%, -50%);
    text-align: center;
	z-index: 2;
}

.tour-text-area {
	margin-bottom: 50px;
}

.tour-text {
	font-size: 2.0rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.tour-text-1 {
	font-size: 1.5rem;
	font-weight: bold;
}

.tour-text-h2 {
	text-align: center;
	margin-bottom: 20px;
}

.tour-text-p {
	text-align: center;
	margin-bottom: 10px;
}

/* 광고 영역1 */

.tour-main-area {
	width: 100%;
	background-color: #f0f0f0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* 휴대폰 */
@media only screen and (max-width: 767px) {
	.tour-main-text-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.tour-main-text {
		font-size: 1rem;
		margin: 40px auto;
	}

	.tour-main-text-p {
		font-size: 0.8rem;
		margin: 20px auto;
	}

	.tour-main-img-container {
		width: 100%;
	}

	.tour-main-img-container img {
		max-width: 100%;
	}
}

/* 태블릿 */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.tour-main-text-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.tour-main-text {
		font-size: 1.5rem;
		margin: 40px auto;
	}

	.tour-main-text-p {
		font-size: 1.2rem;
		margin: 20px auto;
	}

	.tour-main-img-container {
		width: 100%;
	}

	.tour-main-img-container img {
		max-width: 100%;
	}
}

/* 데스크탑 */
@media only screen and (min-width: 1024px) {
	.tour-main-text-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.tour-main-text {
		font-size: 2rem;
		margin: 40px auto;
	}

	.tour-main-text-p {
		font-size: 1.5rem;
		margin: 20px auto;
	}

	.tour-main-img-container {
		width: 100%;
	}

	.tour-main-img-container img {
		max-width: 100%;
	}
}

/* 광고 영역2 */

.tour-banner-container {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 200px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.left-banner-area {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	animation: leftbanner 60s linear infinite;
}

.left-banner img {
	width: 140px;
    height: 200px;
	margin: 0 10px;
}

@keyframes leftbanner {
	0% {
		transform: translate(0);
	}
	100% {
		transform: translate(-100%);
	}
}

.left-banner-reverse-area {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	animation: leftreversebanner 180s linear infinite;
}

.left-banner-reverse img {
	width: 140px;
    height: 200px;
	margin: 0 10px;
}

@keyframes leftreversebanner {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

/* 휴대폰 */
@media only screen and (max-width: 767px) {
	.tour-loginbanner {
		width: 100%;
		height: 150px;
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 1px solid transparent;
		border-radius: 10px;
		background-image: url(../img/loginbanner.png);
		background-repeat: no-repeat;
		background-size: 100%;
	}
	
	.tour-loginbanner-p {
		font-size: 0.9rem;
		color: #487968;
		margin-bottom: 5px;
	}

	.loginbanner-loginbtn {
		width: 200px;
		height: 30px;
		border: 1px solid transparent;
		border-radius: 10px;
		background-color: #487968;
		font-size: 0.8rem;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 10px;
	}

}

/* 태블릿 */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.tour-loginbanner {
		width: 100%;
		height: 150px;
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 1px solid transparent;
		border-radius: 10px;
		background-image: url(../img/loginbanner.png);
		background-repeat: no-repeat;
		background-size: 100%;
	}
	
	.tour-loginbanner-p {
		font-size: 1.3rem;
		color: #487968;
		margin-bottom: 5px;
	}

	.loginbanner-loginbtn {
		width: 200px;
		height: 30px;
		border: 1px solid transparent;
		border-radius: 10px;
		background-color: #487968;
		font-size: 0.8rem;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 10px;
	}

}

/* 데스크탑 */
@media only screen and (min-width: 1024px) {
	.tour-loginbanner {
		width: 100%;
		height: 150px;
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 1px solid transparent;
		border-radius: 10px;
		background-image: url(../img/loginbanner.png);
		background-repeat: no-repeat;
		background-size: 100%;
	}
	
	.tour-loginbanner-p {
		font-size: 1.5rem;
		color: #487968;
		margin-bottom: 5px;
	}
	
	.loginbanner-loginbtn {
		width: 200px;
		height: 30px;
		border: 1px solid transparent;
		border-radius: 10px;
		background-color: #487968;
		font-size: 1.0rem;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 10px;
	}

}

/* 광고 영역3 */

.tour-card-area {
	display: grid;
	grid-gap: 1rem;
	padding: 1rem;
	max-width: 1300px;
	margin: 0 auto;
	--d: 700ms;
	--e: cubic-bezier(0.19, 1, 0.22, 1);
}

@media (min-width: 768px) and (max-width: 1299px) {
	.tour-card-area {
		grid-template-columns: repeat(2, 1fr);
	}
	.title {
		font-size: 1.1rem;
		font-weight: bold;
		margin-bottom: 60px;
		color: #fff;
	}
	
	.copy {
		font-size: 0.8rem;
		color: #fff;
	}
}

@media (min-width: 1300px) {
	.tour-card-area {
		grid-template-columns: repeat(4, 1fr);
	}
}

.tour-card {
	position: relative;
	display: flex;
	overflow: hidden;
	padding: 1rem;
	width: 100%;
	text-align: center;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
	0 2px 2px rgba(0, 0, 0, 0.1),
	0 4px 4px rgba(0, 0, 0, 0.1),
	0 8px 8px rgba(0, 0, 0, 0.1),
	0 16px 16px rgba(0, 0, 0, 0.1);

	/* 제일 클때 카드 높이 */
	@media (min-width: 600px) {
			height: 300px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 110%;
		background-size: cover;
		background-position: 0 0;
		transition: transform calc(var(--d) * 1.5) var(--e);
		pointer-events: none;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 200%;
		pointer-events: none;
		transform: translateY(-50%);
		transition: transform calc(var(--d) * 2) var(--e);
	}

	&:nth-child(1):before {
		background-image: url(../img/reading1.png);
	}

	&:nth-child(2):before {
		background-image: url(../img/reading2.png);
	}

	&:nth-child(3):before {
		background-image: url(../img/reading3.png);
	}

	&:nth-child(4):before {
		background-image: url(../img/reading4.png);
	}
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	transition: transform var(--d) var(--e);
	z-index: 1;
}

.title {
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 60px;
	color: #fff;
}

.copy {
	font-size: 0.9rem;
	color: #fff;
}

@media (hover: hover) and (min-width: 600px) {
	.tour-card:after {
		transform: translateY(0);
	}

	.content {
		transform: translateY(calc(100% - 4.5rem));

		> *:not(.title) {
			opacity: 0;
			transform: translateY(1rem);
			transition:
			transform var(--d) var(--e),
			opacity var(--d) var(--e);
		}
	}

	.tour-card:hover,
	.tour-card:focus-within {
		align-items: center;

	&:before { transform: translateY(-4%); }
	&:after { transform: translateY(-50%); }

	.content {
		transform: translateY(0);

		> *:not(.title) {
			opacity: 1;
			transform: translateY(0);
			transition-delay: calc(var(--d) / 8);
			}
		}
	}

	.tour-card:focus-within {
		&:before,
		&:after,
		.content,
		.content > *:not(.title) {
		transition-duration: 0s;
		}
	}
}