.library-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(430px, 1fr)); /* 반응형 그리드 설정 */
}
.library-grid-left-box {
	grid-column: span 2;
	padding: 20px;
}
.library-grid-right-box {
	padding: 20px;
}
.library-content {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 5px;
}
.library-title-strong {
	font-weight: bold;
	font-size: 20px;
	margin-right: 25px;
}
.library-title-button {
	font-size: 16px;
	margin-right: 10px;
	font-weight: bold;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}
.library-title-p {
	padding-top: 15px;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.5);
}
.library-title-button.active{
	color: #4dac27;
	font-weight: bold;
}
/* 그리드부분 */
.library_layout_container {
	padding: 0 20px;
    display: grid;
    gap: 10px;
	grid-template-columns: repeat(6, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(5, 1fr)); */
    grid-template-rows: repeat(2, 1fr);
}
.library_layout_container_a {
	display: block;
	width: 100%;
	height: 150px;
}
@media screen and (max-width: 750px) {
	.library_layout_container {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media screen and (max-width: 550px) {
	.library_layout_container {
		grid-template-columns: repeat(3, 1fr);
	}
}
.library_book_title_txt {
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding-top: 5px;
	width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.library_book_author_txt {
	font-size: 11px;
	padding: 3px 0;
	width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.library_layout_container_div {
	width: 100%;
	margin: 0 auto;
}
/* TODO: 데이터 넣었을때 높이 수정하기 */
.library-no-layout{
	height: 450px;
	text-align: center;
}
.library-no-layout1{
	height: 300px;
	text-align: center;
}
.library-no-layout2 {
	height: 219px;
}
@media screen and (min-width: 800px) {
	.library-media {
		display: none;
	}
}
@media screen and (max-width: 1306px) {
	.library-grid-right-box {
		grid-column: span 2;
	}
}

.library-top {
	width: 100%;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.library-top1, .library-top2 {
	width: 50%;
	display: inline-block;
	padding: 20px;
}
@media (max-width: 768px) {
    .library-top1, .library-top2 {
        width: 100%;
    }
}